.text-hidden {
  // text-indent: 100%;
  // white-space: nowrap;
  // overflow: hidden;
  // height: 0;
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
